tqdm>=4.27, <4.50.0
transformers==4.8.1
huggingface-hub==0.0.12
click<7.2.0,>=7.1.1
xlrd==1.2.0 # For Polytope xlsx file
requests
numpy
pandas
datasets==1.7.0
torch
scikit-learn==1.0.2
nltk==3.6.5
questeval==0.2.4